<div class="pin" id="<%= dom_id pin %>">
  <% if pin.pin_image.try(:url) %>
    <%= image_tag pin.pin_image.url, width: 600 if pin.pin_image.present? %>
    <div><%= bytes_to_megabytes(pin.pin_image.file.size) %> Mb</div>
  <% end %>

  <h2><%= link_to pin.title, pin %></h2>
  <p><%= pin.description %></p>

  <%= render partial: "likes/like_control", locals: { likeable: pin } %>
</div>