<%= @pin.likes.count %>

<%
  likes_count = @pin.likes.count
  like_text = "Like (#{likes_count})"

  if current_user && @pin.likes.where(user_id: current_user.id).count > 0
    like_text = "Unlike (#{likes_count})"
  end
%>

<p style="color: green"><%= notice %></p>

<%= render @pin %>

<div>
  Tags: <%= @pin.tag_list %>
</div>

<div>
  <%= render partial: "like/button", locals: { likeable: @pin } %>

  <%= link_to "Edit this pin", edit_pin_path(@pin) %> |
  <%= link_to "Back to pins", pins_path %>

  <%= button_to "Destroy this pin", @pin, method: :delete %>
</div>

<%= render "comments/form" %>

<%= render @pin.comments.not_replies %>