<%
  set_meta_tags(
    title: @pin.title,
    description: "Самые класные пины",
    keywords: "пины, картинки, дизайн"
  )
%>

<%= turbo_stream_from "pins_likes" %>
<%= turbo_stream_from "comments" %>

<p style="color: green"><%= notice %></p>

<%= render @pin %>

<div>
  Tags: <%= @pin.tag_list %>
</div>

<div>
  <%= link_to "Edit this pin", edit_pin_path(@pin) %> |
  <%= link_to "Back to pins", pins_path %>

  <%= button_to "Destroy this pin", @pin, method: :delete %>
</div>

<%= render partial: "comments/new_form", locals: { comment: Comment.new, url: pin_comments_path(@pin), dom_id: "new_pin_comment_form" } %>

<% comments = @pin.comments.not_replies %>

<%= render partial: "comments/counter", locals: { comments: comments } %>

<div id="comments">
  <%= render comments %>
</div>