<div id="<%= dom_id publication %>">
  <p>
    <strong>Type:</strong>
    <%= publication.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= publication.body %>
  </p>

  <p>
    <strong>Embed:</strong>
    <%= publication.embed %>
  </p>

</div>
