<div id="<%= dom_id publication_figma %>">
  <p>
    <strong>Type:</strong>
    <%= publication_figma.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication_figma.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= publication_figma.body %>
  </p>

  <%= publication_figma.embed.html_safe %>

</div>