<div class="galleryImage <%= gallery_image.orientation %>" id="<%= dom_id(gallery_image) %>" data-gallery-target="galleryImage" data-gallery-image-id-param="<%= gallery_image.id %>">
  <div class="buttonSet">
    <div class="button" data-action="click->gallery#lowerImage" data-gallery-image-id-param="<%= gallery_image.id %>">←</div>
    <div class="button" data-action="click->gallery#higherImage" data-gallery-image-id-param="<%= gallery_image.id %>">→</div>
    <div class="button" data-action="click->gallery#destroyImage" data-gallery-image-id-param="<%= gallery_image.id %>">удалить</div>

    <div class="button"><%= gallery_image.position %></div>
  </div>

  <%= image_tag gallery_image.image.url %>
</div>
